@import '../../theme/scss/mixins';
@import '../../theme/scss/constants';

.video-player-component {
    .player {
        position: absolute;
        top: 128px;
        left: 50%;
        transform: translateX(-50%);
        video {
            max-width: 100%;
        }
        .controls {
            visibility: hidden;
            opacity: .1;
            width: 400px;
            border-radius: 10px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -200px;
            background-color: black;
            box-shadow: 3px 3px 5px black;
            transition: 1s all;
            display: flex;
            button {
                z-index: 2;
            }
            .timer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                color: $purple-palette-primary;
                div {
                    position: absolute;
                    background-color: $purple-palette-200;
                    left: 80px;
                    top: 0;
                    width: 0;
                    height: 38px;
                    z-index: 1;
                }
                span {
                    @include unselectable();
                    z-index: 2;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
