@import '../../theme/scss/constants';

:host {
  display: block;
}

.tears-of-steal-component {
    video {
        width: 100%;
    }
    .controls {
        display: flex;
        .progress {
            display: flex;
            flex: 1;
            align-items: center;
        }
        background-color: rgba(0, 0, 0, .1);
        border-radius: 10px;
        box-shadow: $box_shadow_ninja;
        margin-bottom: 10px;
    }
    .unsupported-video {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        padding: 24px;
    }
}
