@import './app/theme/theme';

html, body {
    height: 100%;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2rem;
    background-color: rgb(58, 58, 58);
    color: hsla(0,0%,100%,.7);

    app-root {
        width: 100vw;
        height: inherit;
        display: flex;
        flex-direction: column;
        @include margins();
        @include paddings();
        @include width();

        a {
            text-shadow: $box_shadow_ninja;
            transition: .5s;
            &:link {
                color: $link-normal;
            }
            &:visited {
                color: $link-normal;
            }
            &:hover {
                color: $link-hover;
                letter-spacing: .1px;
            }
            &:active {
                color: $link-active;
            }
        }

        .mdn-logo {
            margin: 10px;
            box-shadow: $box_shadow_ninja;
            width: 260px;
            height: 36px;
            background: $purple-palette-primary;
            svg {
                height: 80px;
            }
        }

        .video-player {
            position: absolute;
            top: 128px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
