@import '../theme/scss/constants';

.global-ui-loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2021;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
}

a {
    padding: 0 25px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

mat-toolbar {
    box-shadow: $material-shadow;
}
